h1{
    color: red;
    font-size: 25px;
}
brocolli {
    background-color:gold
}


/***************************CLASS SELECTORS***************************************/

.bacon{

}


/**************************ID SELECTOR******************************/
#heading{
    color: blue;
}